.box{
  background-color: white;
  padding: 10px 10px;
  margin: 0% 5% 8% 5%;
  border-top: 15px solid black;
  border-bottom: 25px solid black;
}
h1 {
  color: black;
  font-size: 18pt;
  font-family: Arial, sans-serif;
}
h2 {
  color: #A6192E;
  font-size: 12pt;
  font-family: Times New Roman, serif;
}
form{
  background-color: #E1EAEB;
  padding: 10px 10px;
  margin: 10px 25% 5px 5px;
  overflow: hidden;
}
input[type=submit]{
  background-color: #A6192E;
  color: white;
  padding: 5px 10px;
  float: right;
  border-radius: 2px;
  border: 0px;
  margin: 0px 5px;
}
input[type=text]{
  width: 60px;
}
table, th, td{
  border: 1px solid #BABABA;
  border-collapse: collapse;
}
th{
  background-color: #DBDBDB;
  font-weight: bold;
}
th, td{
  font-size: 11pt;
}
p{
  font-size: 10pt;
}
body{
  background-color: #A6192E;
  text-align: left;
  margin: 0 0;
}
