<!DOCTYPE html>
<html>
<head>
  <title>CMPT 276 Assignment 1</title>
  <link rel="stylesheet" href="calculator.css">
  <style>
  .box{
    background-color: white;
    padding: 10px 10px;
    margin: 0% 5% 8% 5%;
    border-top: 15px solid black;
    border-bottom: 25px solid black;
  }
  h1 {
    color: black;
    font-size: 18pt;
    font-family: Arial, sans-serif;
    font-weight: 300;
  }
  h2 {
    color: #A6192E;
    font-size: 12pt;
    font-family: Times New Roman, serif;
  }
  form{
    background-color: #E1EAEB;
    padding: 10px 10px;
    margin: 10px 25% 5px 5px;
    overflow: hidden;
  }
  input[type=submit]{
    background-color: #A6192E;
    color: white;
    padding: 5px 10px;
    float: right;
    border-radius: 2px;
    border: 0px;
    margin: 0px 5px;
  }
  input[type=text]{
    width: 60px;
  }
  table, th, td{
    border: 1px solid #BABABA;
    border-collapse: collapse;
  }
  th{
    background-color: #DBDBDB;
    font-weight: bold;
  }
  th, td{
    font-size: 11pt;
  }
  p{
    font-size: 10pt;
  }
  body{
    background-color: #A6192E;
    text-align: left;
    margin: 0 0;
  }
  </style>
</head>
<body>

<div class="box">
<h1>Grade Calculator</h1>
<form id="form1">
  <h2>Activities</h2>
  <p>Give grades to the numeric activities:</p>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Weight</th>
      <th>Grade</th>
      <th>Percent</th>
    </tr>
    <tr>
      <td>Activity 1</td>
      <td>A1</td>
      <td><input type="text" id="Weight 1"></td>
      <td><input type="text" id="Grade Num 1" oninput="percentage1()">/</br><input type="text" id="Grade Den 1" oninput="percentage1()"></td>
    <td id="percent1"></td>
    </tr>
    <tr>
      <td>Activity 2</td>
      <td>A2</td>
      <td><input type="text" id="Weight 2"></td>
      <td><input type="text" id="Grade Num 2" oninput="percentage2()">/</br><input type="text" id="Grade Den 2" oninput="percentage2()"></td>
      <td id="percent2"></td>
    </tr>
    <tr>
      <td>Activity 3</td>
      <td>A3</td>
      <td><input type="text" id="Weight 3"></td>
      <td><input type="text" id="Grade Num 3" oninput="percentage3()">/</br><input type="text" id="Grade Den 3" oninput="percentage3()"></td>
      <td id="percent3"></td>
    </tr>
    <tr>
      <td>Activity 4</td>
      <td>A4</td>
      <td><input type="text" id="Weight 4"></td>
      <td><input type="text" id="Grade Num 4" oninput="percentage4()">/</br><input type="text" id="Grade Den 4" oninput="percentage4()"></td>
      <td id="percent4"></td>
    </tr>
  </table>
  <h2>Result</h2>
  <p id="answer"></p>
  <input type="submit" value="WEIGHTED">
  <input type="submit" value="MEAN" onsubmit="mean()">
</form>

<script>
  /*function percentage(var n){
    var numerator = 5;//parseInt(document.getElementById("gradenum".concat(n)).value, 10);
    var denominator = 6;//parseInt(document.getElementById("gradeden".concat(n)).value, 10);
    document.getElementById("percent".concat(n)).innerHTML = (numerator/denominator).toFixed(2);
    return numerator/denominator;
  }*/
  function percentage1(){
    var num1 = parseInt(document.getElementById("Grade Num 1").value, 10);
    var den1 = parseInt(document.getElementById("Grade Den 1").value, 10);
    document.getElementById("percent1").innerHTML = (num1/den1).toFixed(2);
    return num1/den1;
  }
  function percentage2(){
    var num2 = parseInt(document.getElementById("Grade Num 2").value, 10);
    var den2 = parseInt(document.getElementById("Grade Den 2").value, 10);
    document.getElementById("percent2").innerHTML = (num2/den2).toFixed(2);
  }
  function percentage3(){
    var num3 = parseInt(document.getElementById("Grade Num 3").value, 10);
    var den3 = parseInt(document.getElementById("Grade Den 3").value, 10);
    document.getElementById("percent3").innerHTML = (num3/den3).toFixed(2);
  }
  function percentage4(){
    var num4 = parseInt(document.getElementById("Grade Num 4").value, 10);
    var den4 = parseInt(document.getElementById("Grade Den 4").value, 10);
    document.getElementById("percent4").innerHTML = (num4/den4).toFixed(2);
  }
  function mean(){
    document.getElementById("answer").innerHTML = (percentage1()+percentage2()+percentage3()+percentage4())/4;
  }
</script>
</div>
</body>
</html>
