<!DOCTYPE html>
<html>
<head>
<title>CMPT 276 Assignment 1</title>
<style>
.box{
  background-color: white;
  padding: 10px 10px;
  margin: 0% 5% 8% 5%;
  border-top: 15px solid black;
  border-bottom: 25px solid black;
}
h1 {
  color: black;
  font-size: 18pt;
  font-family: Arial, sans-serif;
}
h2 {
  color: #A6192E;
  font-size: 12pt;
  font-family: Times New Roman, serif;
}
form{
  background-color: #E1EAEB;
  padding: 10px 10px;
  margin: 10px 25% 5px 5px;
  overflow: hidden;
}
input[type=submit]{
  background-color: #A6192E;
  color: white;
  padding: 5px 10px;
  float: right;
  border-radius: 2px;
  border: 0px;
  margin: 0px 5px;
}
input[type=text]{
  width: 60px;
}
table, th, td{
  border: 1px solid #BABABA;
  border-collapse: collapse;
}
th{
  background-color: #DBDBDB;
  font-weight: bold;
}
th, td{
  font-size: 11pt;
}
p{
  font-size: 10pt;
}
body{
  background-color: #A6192E;
  text-align: left;
  margin: 0 0;
}
</style>
</head>
<body>

<div class="box">
<h1>Grade Calculator</h1>

<form>
  <h2>Activities</h2>
  <p>Give grades to the numeric activities:</p>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Weight</th>
      <th>Grade</th>
      <th>Percent</th>
    </tr>
    <tr>
      <td>Activity 1</td>
      <td>A1</td>
      <td><input type="text" name="Weight 1"></td>
      <td><input type="text" name="Grade Num 1">/</br><input type="text" name="Grade Den 1"></td>
    <td></td>
    </tr>
    <tr>
      <td>Activity 2</td>
      <td>A2</td>
      <td><input type="text" name="Weight 2"></td>
      <td><input type="text" name="Grade Num 2">/</br><input type="text" name="Grade Den 2"></td>
      <td></td>
    </tr>
    <tr>
      <td>Activity 3</td>
      <td>A3</td>
      <td><input type="text" name="Weight 3"></td>
      <td><input type="text" name="Grade Num 3">/</br><input type="text" name="Grade Den 3"></td>
      <td></td>
    </tr>
    <tr>
      <td>Activity 4</td>
      <td>A4</td>
      <td><input type="text" name="Weight 4"></td>
      <td><input type="text" name="Grade Num 4">/</br><input type="text" name="Grade Den 4"></td>
      <td></td>
    </tr>
  </table>
  <h2>Result</h2>
  <input type="submit" value="WEIGHTED">
  <input type="submit" value="MEAN">
</form>
</div>
</body>
</html>
